@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&family=Source+Sans+3:wght@400;600;700&display=swap');


html,
body,
#root,
.app,
.content {
  height: 100%;
  min-width: 10px;
  width: 100%;
  font-family: "Source Sans 3", sans-serif !important;
}

.app {
  display: flex;
  
  position: relative;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table,
.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table,
.fc-timegrid-body, 
.fc-timegrid-body table {
    width: 100% !important;
}

